<div th:fragment="content" class="container">
  <!-- Begin Breadcrumb -->
  <div
    th:replace="~{client/fragments/components/_breadcrumb :: breadcrumb(item='Services')}"
  ></div>
  <!-- End Breadcrumb -->

  <div class="row">
    <div class="col-12 col-md-3">
       <!-- Begin navs -->
       <div th:replace="~{client/pages/services/components/_nav.html}"></div>
       <!-- End navs -->
    </div>

    <div class="col-12 col-md-9">
      <section>
        <h3 class="fw-bold mb-5">
          The Leading Company in Quality and Trusted Backpack and Handbag
          Manufacturing
        </h3>
        <div class="row align-items-stretch">
          <div class="col-md-4 mb-4 d-flex">
            <img
              src="https://lh5.googleusercontent.com/G1zyYHZHuY28kw8qqgTh1YKiDVcZEVP2WB0U-SydHhFlqRkOdrvGZscYoCkMaZRwyYbf3tanOtKkk8Sv5upGlRFhAbecmyf13YAklMCyykaC6repuFocnbdCkFb3Hcyot5Y6ghFUUBOYi3EGNA1JOnUbdV8F0kCUq_EZ9zRpCTTrUpKnzuRonLvPLtK_Pw"
              alt="Viet Bag Manufacturing"
              class="img-fluid rounded shadow align-self-center"
            />
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <figure class="w-100">
              <blockquote class="blockquote mb-0">
                <p class="mb-3 fw-bold">
                  A Top Player in Backpack and Handbag Production
                </p>
                <p class="mb-3">
                  Currently, there are over 100 companies in Ho Chi Minh City engaged in backpack and handbag manufacturing to meet the growing demand for diverse online business activities in the coming years. So what makes KINGBAG a trusted top supplier nationwide? Let’s explore the reasons in this article:
                </p>
              </blockquote>
            </figure>
          </div>
        </div>
  
        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              1. A Reputable Company with Extensive Experience
            </p>
            <p class="mb-3">
              Established in 2004 by fashion enthusiasts, the Vietnam Handbag Manufacturing Joint Stock Company has steadily grown to become a leading backpack and handbag manufacturer in Ho Chi Minh City.
            </p>
            <p class="mb-3"></p>
            KINGBAG excels in both manufacturing and branding for distributors, with an extensive network of agents nationwide. The company aims to expand its reach and deliver its products throughout Vietnam and to international friends, becoming a companion for customers on their journeys with stylish and high-quality products such as laptop backpacks, travel bags, suitcases, and crossbody bags.
            </p>
          </blockquote>
        </figure>
  
        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              2. Premium Quality Products to Satisfy Every Customer
            </p>
            <p class="mb-3">
              With a large-scale production facility and advanced manufacturing technology, KINGBAG produces products that meet international quality standards (ISO).
            </p>
            <p class="mb-3">
            We prioritize consumer health by using materials from reputable suppliers like YKK, Kodura fabric, polyester, and EVA foam. Additionally, our backpack and handbag designs are modern and stylish, reflecting current market trends, thanks to our dynamic design team that continuously innovates to create unique and practical products.
            </p>
          </blockquote>
        </figure>
  
        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              3. Partnerships with Major Enterprises and Brands
            </p>
            <div class="row align-items-stretch">
              <div class="col-md-4 mb-4 d-flex">
                <img
                  src="https://lh3.googleusercontent.com/PVQoaPul7FU0cWg4TscyG_IPo5pNJA89UvzrMeIXQPB6HiB8S6AbpP_F-bSdlWn5jKkxn9E_i83hQO2GFX5jIR4F_jvPXgGoxjciMRIFaE_9N5RqZjAHykuWeXwaVvzbW0jtcJ_i2GRolvr9yp6X3amlPwEdwz2bKfSDw0E1rEpbA3edF8LLlJds3OIpxg"
                  alt="Viet Bag Manufacturing"
                  class="img-fluid rounded shadow align-self-center"
                />
              </div>
              <div class="col-md-8">
                <p class="mb-3">
                  Over 15 years of development, KINGBAG has established itself as a professional backpack and handbag manufacturer, earning the trust of many large corporations and groups, including FPT Shop, Mobiphone, Vietcombank, Viettel, King Coffee, Bách Khoa University, Gia Định University, Sacombank, Agribank, MB, Vietin Bank, ACB, and many others.
                </p>
                <p class="mb-3">
                  We enjoy high trust from distributors and provide convenient services for agents with attractive discounts and dedicated support. Our goal is to offer customers the latest, most stylish, and highest-quality fashion products.
                </p>
              </div>
            </div>
          </blockquote>
        </figure>
  
        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              4. Proud Recipient of the “Top 10 - International Quality Gold Brand Award 2022”
            </p>
            <div class="row align-items-stretch">
              <div class="col-md-4 mb-4 d-flex">
                <img
                  src="https://lh5.googleusercontent.com/wpJCv1IWj0uAiFiyAZDVFjFY5Hz1QEiIg1Dy15xjPdDMHzJFaWEsqSoDokdYmXhXpJIS3wbEueQk401y_3FdgXIUvwf6O5Dq53shS1umdy2qNX70k23xyqxlHHk1dRvCHJDqcyRR85TeF9Ir0cZBBSukQg-M-lLfcCYRBYGjltaPMphkIzcfuAGKhPkcLQ"
                  alt="Viet Bag Manufacturing"
                  class="img-fluid rounded shadow align-self-center"
                />
              </div>
              <div class="col-md-8">
                <p class="mb-3">
                  This award marks a significant milestone, solidifying our brand’s position and establishing enduring quality standards in consumers’ minds.
                </p>
                <p class="mb-3">
                  We are proud to be recognized as one of the “Top 10 International Quality Gold Brands in 2022,” which strongly honors our resilient spirit and consistent efforts to protect, preserve, and develop our brand.
                </p>
                <p class="mb-3">
                  For these reasons, if you are looking for a company with strengths in custom production or want to become a distributor of high-quality backpacks, KINGBAG is confident in being your trusted partner!
                </p>
              </div>
            </div>
          </blockquote>
        </figure>
      </section>
    </div>
  </div>

</div>
