
<section class="mb-5">
    <h3 class="fw-bold mb-5">Introduce</h3>
    <div class="row align-items-stretch">
      <div class="col-md-4 mb-4 d-flex">
        <img
          src="https://theme.hstatic.net/200000273565/1000933517/14/p-about-owl_item_1.jpg"
          alt="Viet Bag Manufacturing"
          class="img-fluid rounded shadow align-self-center"
        />
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3">
              <span class="fw-bold"
                >Viet Bag Manufacturing Joint Stock Company</span
              >, previously a backpack and handbag manufacturing facility, was
              established in 2004. With nearly 20 years of experience, we are
              one of the leading units in Vietnam in the field of backpack and
              handbag production. Our professional design team and skilled
              workers, along with modern machinery, allow us to meet all
              customer needs effectively.
            </p>
            <p class="mb-3">
              With the goal of providing high-quality products not only to
              domestic customers but also to international clients,
              <span class="fw-bold">Viet Bag</span> is committed to delivering
              the best quality, premium backpacks and handbags, along with
              excellent service at competitive prices. We aim to accompany our
              valued customers and partners to foster prosperity for our staff,
              as well as for all our customers, partners, and the community as a
              whole.
            </p>
            <p>
              In this regard, Kingbag sets and always remembers our vision:
              <span class="fw-bold"
                >"Creating prosperous lives for those around us through business
                with kindness."</span
              >
              We are committed to continuous improvement and development to
              become a trusted partner, accompanying our customers and partners
              on the journey toward mutual growth in the future.
            </p>
          </blockquote>
        </figure>
      </div>
    </div>
  </section>