<div th:fragment="content" class="container">
  <!-- Begin Breadcrumb -->
  <div
    th:replace="~{fragments/client/components/_breadcrumb :: breadcrumb(item='Legal')}"
  ></div>
  <!-- End Breadcrumb -->

  <div class="row">
    <div class="col-12 col-md-3">
      <!-- Begin navs -->
      <div th:replace="~{client/static/legal/components/_nav.html}"></div>
      <!-- End navs -->
    </div>

    <div class="col-12 col-md-9">
      <section>
        <h3 class="fw-bold mb-5">Return and Exchange Policy</h3>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">1. Conditions for Return and Exchange</p>
            <p class="mb-3">
              Customers should check the condition of the goods and may exchange
              or return items at the time of delivery/receipt under the
              following circumstances:
            </p>
            <ul class="list-unstyled">
              <ul>
                <li>
                  The item is not the correct type, model, or does not match
                  what was ordered or displayed on the website at the time of
                  purchase.
                </li>
                <li>
                  The quantity is insufficient, or the set is incomplete as
                  stated in the order.
                </li>
                <li>
                  The exterior condition is compromised, such as damaged
                  packaging, peeling, or breakage.
                </li>
              </ul>
            </ul>
            <p class="mb-3">
              Customers are responsible for providing related documents to prove
              the discrepancies in order to complete the return/exchange
              process.
            </p>
          </blockquote>
        </figure>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              2. Notification and Return Product Regulations
            </p>
            <ul class="list-unstyled">
              <ul>
                <li>
                  <span class="fw-bold">Notification period for returns: </span>
                  within 48 hours from the time of receiving the product for
                  cases of missing accessories, gifts, or breakage.
                </li>
                <li>
                  <span class="fw-bold">Return shipping period: </span>within 14
                  days from the time of receiving the product.
                </li>
                <li>
                  <span class="fw-bold">Return location: </span>Customers can
                  bring the item directly to our office/store or send it via
                  postal service.
                </li>
              </ul>
            </ul>
            <p class="mb-3">
              If customers have any feedback or complaints regarding product
              quality, please contact our customer service hotline.
            </p>
          </blockquote>
        </figure>
      </section>
    </div>
  </div>
</div>
