<th:block th:fragment="viewStyles">
  <link href="/plugins/file-upload/file-upload.min.css" rel="stylesheet" />
  <link href="/plugins/wysiwyg/wysiwyg.min.css" rel="stylesheet" />
</th:block>

<div th:fragment="content">
  <form
    th:action="@{/dashboard/catalog/products/edit/{id}/submit(id=${product.id})}"
    th:object="${product}"
    method="post"
    enctype="multipart/form-data"
    class="row"
  >
    <div class="col-lg-3">
      <div
        th:replace="~{dashboard/pages/catalog/products/edit/components/thumbnail}"
      ></div>
      <div
        th:replace="~{dashboard/pages/catalog/products/edit/components/status}"
      ></div>
    </div>

    <div class="col-lg">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                data-mdb-tab-init
                class="nav-link active"
                id="general"
                href="#general-tab"
                role="tab"
                aria-controls="general-tab"
                aria-selected="true"
                >General</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                data-mdb-tab-init
                class="nav-link"
                id="advanced"
                href="#advanced-tab"
                role="tab"
                aria-controls="advanced-tab"
                aria-selected="false"
                >Advanced</a
              >
            </li>
          </ul>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-light"
            data-mdb-ripple-init
            data-mdb-ripple-color="dark"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-success" data-mdb-ripple-init>
            Save
          </button>
        </div>
      </div>

      <div class="tab-content" id="ex1-content">
        <div
          class="tab-pane fade show active"
          id="general-tab"
          role="tabpanel"
          aria-labelledby="general"
        >
          <div
            th:replace="~{dashboard/pages/catalog/products/edit/components/general}"
          ></div>
        </div>

        <div
          class="tab-pane fade"
          id="advanced-tab"
          role="tabpanel"
          aria-labelledby="advanced"
        >
          <div
            th:replace="~{dashboard/pages/catalog/products/edit/components/advanced}"
          ></div>
        </div>
      </div>
    </div>
  </form>
</div>

<th:block th:fragment="viewScripts">
  <!-- Same scripts as create -->
  <script src="/plugins/file-upload/file-upload.min.js"></script>
  <script src="/plugins/wysiwyg/wysiwyg.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    // Same WYSIWYG initialization as create
    document.addEventListener("DOMContentLoaded", () => {
      const wysiwygDiv = document.querySelector(
        ".wysiwyg[data-mdb-wysiwyg-init]"
      );
      if (!wysiwygDiv) return;

      const hiddenTextarea = Object.assign(document.createElement("textarea"), {
        name: "description",
        id: "description",
        style: "display: none;",
      });

      wysiwygDiv.before(hiddenTextarea);
      const wysiwygContent = wysiwygDiv.querySelector(".wysiwyg-content");

      wysiwygContent.addEventListener("input", () => {
        hiddenTextarea.value = wysiwygContent.innerHTML.trim();
      });

      // Set initial content
      if (hiddenTextarea.value) {
        wysiwygContent.innerHTML = hiddenTextarea.value;
      }
    });
  </script>
</th:block>
