<th:block th:fragment="viewStyles">
  <link href="/plugins/file-upload/file-upload.min.css" rel="stylesheet" />
</th:block>

<div th:fragment="content" class="container">
  <div class="row mb-5">
    <!-- Begin Breadcrumb -->
    <div class="col-md-6 col-12">
      <div
        th:replace="~{fragments/client/components/_breadcrumb :: breadcrumb('Account')}"
      ></div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Begin Form -->
    <section class="d-flex justify-content-center">
      <div class="col-md-9 col-12">
        <div
          th:replace="~{client/account/authentication/components/_form}"
        ></div>
      </div>
    </section>
    <!-- End Form -->
  </div>
</div>

<th:block th:fragment="viewScripts">
  <div th:replace="~{fragments\common\_toasts}"></div>
  <script src="/plugins/file-upload/file-upload.min.js"></script>
  <script src="/plugins/inputmask/inputmask.min.js"></script>
</th:block>
