<section class="mb-5 mt-5">
  <h3 class="fw-bold mb-4 text-start">Let Us Know Your Thoughts</h3>
  <div class="d-flex justify-content-center">
    <form style="width: 26rem;">
      <!-- Name input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="contact-name" class="form-control" />
        <label class="form-label" for="contact-name">Name</label>
      </div>

      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="contact-email" class="form-control" />
        <label class="form-label" for="contact-email">Email address</label>
      </div>

      <!-- Message input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <textarea class="form-control contact-message" id="contact-message" rows="4" style="resize: none;"></textarea>
        <label class="form-label" for="contact-message">Message</label>
      </div>

      <!-- Submit button -->
      <button
        data-mdb-ripple-init
        type="button"
        class="btn btn-primary btn-block mb-4"
      >
        Send
      </button>
    </form>
  </div>
</section>
