<div th:fragment="content" class="container">
  <!-- Begin Breadcrumb -->
  <div
    th:replace="~{client/fragments/components/_breadcrumb :: breadcrumb(item='Services')}"
  ></div>
  <!-- End Breadcrumb -->

  <div class="row">
    <div class="col-12 col-md-3">
      <!-- Begin navs -->
      <div th:replace="~{client/pages/static/services/components/_nav.html}"></div>
      <!-- End navs -->
    </div>

    <div class="col-12 col-md-9">
      <section>
        <h3 class="fw-bold mb-5">
          Custom manufacturing - high-end backpacks and handbags nationwide
        </h3>
        <div class="row align-items-stretch">
          <div class="col-md-4 mb-4 d-flex">
            <img
              src="https://lh3.googleusercontent.com/U5vVfDo3Jpc5TZX5_70XEq0hHWF34KgCASBRkZ750LK1gmUnOPh3kq8n9Eew8XSEDD0m2RcMjQE-VJFL1kE-nMUxFSUIkUvEB_mX_VFMQ3xV8E25oJRKVZvoTQirn-jzWGW8rvdZENcGv4AipLNlZPUnL0vj4neFUKL38c5gnvGSNA3wMANgbYKYWCtZBQ"
              alt="Viet Bag Manufacturing"
              class="img-fluid rounded shadow align-self-center"
            />
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <figure class="w-100">
              <blockquote class="blockquote mb-0">
                <p class="mb-3 fw-bold">
                  Specializing in Custom Backpack and Handbag Production
                </p>
                <p class="mb-3">
                  Where should you order high-quality custom backpacks and
                  handbags that are trustworthy for large orders? Let’s explore
                  why KINGBAG is your ideal choice!
                </p>
              </blockquote>
            </figure>
          </div>
        </div>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              1. KINGBAG - Leading Trusted Custom Backpack and Handbag
              Manufacturer
            </p>
            <p class="mb-3">
              Founded in 2004, with over 15 years of experience in backpack and
              handbag manufacturing, the Vietnam Handbag Manufacturing Joint
              Stock Company has proudly received the “Top 10 - International
              Quality Gold Brand Award 2022.”
            </p>
            <p class="mb-3">
              More importantly, we are a trusted partner for many brands and
              companies, successfully completing thousands of custom orders for
              branded backpacks and handbags. We provide effective marketing
              solutions at lower costs, helping our partners enhance their brand
              image to be more impressive and professional in the eyes of
              customers.
            </p>
          </blockquote>
        </figure>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              2. Why Companies Should Order Custom Branded Backpacks and
              Handbags
            </p>
            <div class="row align-items-stretch">
              <div class="col-md-4 mb-4 d-flex">
                <img
                  src="https://lh5.googleusercontent.com/T5NlzGUjTGKAmZVdXrvIeXaYMX-XPtj5sYsIz_eu5yMqafv8TUwugRBtp0HRfwf2unEOMMRf0aby5uD_jGu3CSpTIVQemgXNRseOJQOylcDVg4kRON9yMJdmirzfAevnnR1XRhQ-VTfx7ajHMIMNtqwr6eeDUGXuVRft0fb8gB6Fmm1qUziVZ0kXQBCd7A"
                  alt="Viet Bag Manufacturing"
                  class="img-fluid rounded shadow align-self-center"
                />
              </div>
              <div class="col-md-8">
                <p class="mb-3">
                  Custom branded backpacks are far superior to traditional gifts
                  like pens, mugs, or umbrellas. Users can utilize these bags
                  for business trips, short travels, or simply to carry everyday
                  essentials.
                </p>
                <p class="mb-3 ps-4">
                  <span class="fw-bold">Cost-Effective:</span> Instead of using
                  traditional advertising methods such as flyers or newspapers,
                  branded backpacks have become a popular marketing strategy
                  with significantly lower costs.
                </p>

                <p class="mb-3 ps-4">
                  <span class="fw-bold">High Aesthetic Value:</span> With a
                  large surface area, custom backpacks are easy to print with
                  logos and designs, making a lasting impression on customers
                  through professional imagery.
                </p>

                <p class="mb-3 ps-4">
                  <span class="fw-bold">Versatile Applications:</span> Custom
                  branded backpacks can be used for various occasions, including
                  gifts for partners, customer appreciation, employee gifts,
                  commemorative items, promotional giveaways, and advertising.
                </p>
              </div>
            </div>
          </blockquote>
        </figure>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              3. Why Partner with KINGBAG for Custom Backpack and Handbag
              Production?
            </p>
            <div class="row align-items-stretch">
              <div class="col-md-4 mb-4 d-flex">
                <img
                  src="https://lh4.googleusercontent.com/MMoMISNRngPE91Q_wSMLoc37QqVD6Zj4K_mz3U4P1u1juPaJ1_0bnxE_-2Bow9vv0-eRwejXMKEJLDNOvtBJhi_d1NLJrUm4zI2gzKTwh2cJe16RYdIvM_VMnavpBTbWRsv2OgNxC7OQOG3sBPC3ecTnCXhxMzUYXaLNvBYi-Qbqd1fizZ_gcjI1lezAfg"
                  alt="Viet Bag Manufacturing"
                  class="img-fluid rounded shadow align-self-center"
                />
              </div>
              <div class="col-md-8">
                <p class="mb-3">
                  KINGBAG ensures meticulous quality control at every stage of
                  production, delivering the highest quality products to
                  customers.
                </p>
                <p class="mb-3 ps-4">
                  <span class="fw-bold">Large-Scale Production Facility:</span>
                  Our modern facilities and machinery meet high standards for
                  consistent design and quality, ensuring we can fulfill all
                  customer demands both domestically and internationally.
                </p>

                <p class="mb-3 ps-4">
                  <span class="fw-bold"
                    >International Quality Standards (ISO):</span
                  >
                  We prioritize using carefully vetted materials for all custom
                  products.
                </p>

                <p class="mb-3 ps-4">
                  <span class="fw-bold">Professional Team:</span> Our skilled
                  designers and technicians have years of experience, allowing
                  for seamless operation of machinery and the production of
                  top-quality products.
                </p>

                <p class="mb-3">
                  Additionally, we offer the most competitive prices, with FREE
                  design services and sample production for orders of 100 or
                  more. The more extensive the order, the more attractive the
                  pricing, ensuring cost-effectiveness.
                </p>
              </div>
            </div>
          </blockquote>
        </figure>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">4. Notable Partners</p>
            <p class="mb-3">
              With a strong vision and dedication, KINGBAG is a reliable
              long-term partner for numerous brands both domestically and
              internationally. Some of our esteemed partners include FPT Shop,
              Mobiphone, Vietcombank, Viettel, King Coffee, Bách Khoa
              University, Gia Định University, Sacombank, Agribank, MB,
              Vietinbank, ACB, and more.
            </p>
            <p class="mb-3">
              By quickly understanding customer requirements for branded
              backpacks, KINGBAG is continually upgrading to become one of the
              leading backpack manufacturers in Vietnam. Partner with us, and
              watch your brand shine in the market. We guarantee quality,
              professionalism, and dedicated service.
            </p>
          </blockquote>
        </figure>
      </section>
    </div>
  </div>
</div>
