<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="'Pack Shop - ' + ${title}"></title>
    <link rel="shortcut icon" href="#" />

    <!-- Include Global Styles -->
    <div th:replace="~{dashboard/fragments/components/_styles}"></div>

    <!-- Include Styles Specific to the Current View -->
    <th:block th:replace="~{${view} :: viewStyles} ?: _"></th:block>
  </head>

  <body>
    <!-- Include Sidebar Navigation -->
    <div th:replace="~{dashboard/fragments/components/_sidenav}"></div>

    <div id="content">
      <!-- Include Breadcrumb Navigation -->
      <div th:replace="~{dashboard/fragments/components/_breadcrumb}"></div>

      <!-- Main Content Area -->
      <div class="container-fluid">
        <th:block th:replace="~{${view}::content}"></th:block>
      </div>
    </div>

    <!-- Include Global Scripts -->
    <div th:replace="~{dashboard/fragments/components/_scripts}"></div>

    <!-- Include Scripts Specific to the Current View -->
    <th:block th:replace="~{${view} :: viewScripts} ?: _"></th:block>
  </body>
</html>
