<main th:fragment="content">
  <!-- Begin Slider -->
  <div th:replace="~{client/pages/components/_slider}"></div>
  <!-- End Slider -->

  <!-- Begin Services -->
  <div th:replace="~{client/pages/components/_services}"></div>
  <!-- End Services -->

  <!-- Begin Banners -->
  <div th:replace="~{client/pages/components/_banners}"></div>
  <!-- End Banners -->

  <hr class="hr hr-blurry" />

  <!-- Begin Product List -->
  <div th:replace="~{client/pages/components/_product-list}"></div>
  <!-- End Product List -->
</main>
