<section th:fragment="content">
  <!-- Carousel wrapper -->
  <div
    id="carousel_home"
    class="carousel slide carousel-fade"
    data-mdb-ride="carousel"
    data-mdb-carousel-init
  >

    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img
          src="https://theme.hstatic.net/200000273565/1000933517/14/slideshow_4.jpg?v=602"
          class="d-block w-100"
          alt="Motorbike Smoke"
        />
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img
          src="https://theme.hstatic.net/200000273565/1000933517/14/slideshow_3.jpg?v=602"
          class="d-block w-100"
          alt="Mountaintop"
        />
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img
          src="https://theme.hstatic.net/200000273565/1000933517/14/slideshow_2.jpg?v=602"
          class="d-block w-100"
          alt="Woman Reading a Book"
        />
      </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button
      class="carousel-control-prev"
      type="button"
      data-mdb-target="#carousel_home"
      data-mdb-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-mdb-target="#carousel_home"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->
</section>
