<div class="card card-flush py-4 mb-3">
  <div class="card-body pt-0">
    <h5 class="card-title fw-bold mb-4">Inventory</h5>

    <div class="mb-4">
      <label class="form-label fw-bold" for="sku">SKU</label>
      <div data-mdb-input-init class="form-outline">
        <input
          type="text"
          id="sku"
          class="form-control"
          placeholder="SKU Number"
        />
      </div>
      <small class="text-muted text-center">Enter the product SKU.</small>
    </div>

    <div class="mb-4">
      <label class="form-label fw-bold" for="qty">Quantity</label>
      <div data-mdb-input-init class="form-outline">
        <input type="number" id="qty" class="form-control" placeholder="0" />
      </div>
      <small class="text-muted text-center">Enter the product quantity.</small>
    </div>
  </div>
</div>

<div class="card card-flush py-4 mb-3">
  <div class="card-body pt-0">
    <h5 class="card-title fw-bold mb-4">Attributes</h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-4">
          <label class="form-label fw-bold" for="style">Style</label>
          <div data-mdb-input-init class="form-outline">
            <input
              type="text"
              id="style"
              class="form-control"
              placeholder="Enter product style"
            />
          </div>
          <small class="text-muted text-center">Enter the product style.</small>
        </div>

        <div class="mb-4">
          <label class="form-label fw-bold" for="color">Color</label>
          <div data-mdb-input-init class="form-outline">
            <input
              type="text"
              id="color"
              class="form-control"
              placeholder="Enter product color"
            />
          </div>
          <small class="text-muted text-center">Enter the product color.</small>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-4">
          <label class="form-label fw-bold" for="size">Size</label>
          <div data-mdb-input-init class="form-outline">
            <input
              type="text"
              id="size"
              class="form-control"
              placeholder="Enter product size"
            />
          </div>
          <small class="text-muted text-center">Enter the product size.</small>
        </div>

        <div class="mb-4">
          <label class="form-label fw-bold" for="material">Material</label>
          <div data-mdb-input-init class="form-outline">
            <input
              type="text"
              id="material"
              class="form-control"
              placeholder="Enter product material"
            />
          </div>
          <small class="text-muted text-center"
            >Enter the product material.</small
          >
        </div>
      </div>
    </div>
  </div>
</div>
