<div class="card card-flush py-4 mb-3">
  <div class="card-body pt-0">
    <h5 class="card-title fw-bold mb-4">General</h5>

    <div class="mb-4">
      <label class="form-label fw-bold" for="name">Name</label>
      <div data-mdb-input-init class="form-outline">
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="Product name"
        />
      </div>
      <small class="text-muted text-center">
        A product name is required and recommended to be unique.
      </small>
    </div>

    <div class="mb-4">
      <label class="form-label fw-bold" for="price">Base Price</label>
      <div data-mdb-input-init class="form-outline">
        <input
          type="number"
          id="price"
          name="price"
          class="form-control"
          placeholder="Product price"
        />
      </div>
      <small class="text-muted text-center"> Set the product price. </small>
    </div>
    <div>
      <label class="form-label fw-bold">Description</label>
      <div
        class="wysiwyg"
        name="description"
        data-mdb-wysiwyg-init
        data-mdb-wysiwyg-formatting-section="false"
        data-mdb-wysiwyg-justify-section="false"
      ></div>
      <small class="text-muted text-center">
        Set a description to the product for better visibility.
      </small>
    </div>
  </div>
</div>

<div class="card card-flush py-4 mb-3">
  <div class="card-body pt-0">
    <h5 class="card-title fw-bold mb-4">Media</h5>
    <div id="dnd-accept-formats" class="file-upload-wrapper">
      <input
        id="dnd-multiple-files"
        type="file"
        name="mediaFiles"
        th:field="*{mediaFiles}"
        class="file-upload-input"
        data-mdb-multiple="true"
        data-mdb-accepted-extensions="image/*, .pdf"
        data-mdb-file-upload-init
      />
    </div>
    <small class="text-muted text-center">
      Set the product media gallery.
    </small>
  </div>
</div>
