<div class="card card-flush py-4 mb-3">
  <div class="card-body pt-0">
    <h5 class="card-title fw-bold mb-4">Thumbnail</h5>
    <div id="dnd-accept-formats" class="file-upload-wrapper">
      <input
        type="file"
        class="file-upload-input"
        name="thumbnailFile"
        th:field="*{thumbnailFile}"
        data-mdb-accepted-extensions="image/*, .pdf"
        th:data-mdb-default-file="@{'/uploads/' + ${product.thumbnail}}"
        data-mdb-file-upload-init
      />
    </div>
    <small class="text-muted text-center">
      Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files
      are accepted
    </small>
  </div>
</div>
