<div th:fragment="content">
  <!-- Begin Slider -->
  <div th:replace="~{client/home/components/_slider}"></div>
  <!-- End Slider -->

  <!-- Begin Services -->
  <div th:replace="~{client/home/components/_services}"></div>
  <!-- End Services -->

  <!-- Begin Banners -->
  <div th:replace="~{client/home/components/_banners}"></div>
  <!-- End Banners -->

  <hr class="hr hr-blurry" />

  <!-- Begin Product List -->
  <div th:replace="~{client/home/components/_product-list}"></div>
  <!-- End Product List -->
</div>

<th:block th:fragment="viewScripts">
  <div th:replace="~{fragments\common\_toasts}"></div>
</th:block>