<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom container"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Pack Shop
          </h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
          <p>
            <a href="#" class="text-reset">Category 1</a>
          </p>
          <p>
            <a href="#" class="text-reset">Category 2</a>
          </p>
          <p>
            <a href="#" class="text-reset">Category 3</a>
          </p>
          <p>
            <a href="#" class="text-reset">Category 4</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Legal Agreements</h6>
          <p>
            <a href="/legal/return-exchange-policy" class="text-reset"
              >Return and Exchange Policy</a
            >
          </p>
          <p>
            <a href="/legal/privacy-policy" class="text-reset"
              >Privacy Policy</a
            >
          </p>
          <p>
            <a href="/legal/term-of-service" class="text-reset"
              >Term of Service</a
            >
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Vietnam</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            contact@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i>(+84) 123 456 789 (Vietnam)</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/Quan2808/Pack-shop"
      >GitHub.com/Quan2808/Pack-shop</a
    >
  </div>
</footer>
