<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="'Pack Shop - ' + ${title}"></title>

    <!-- Include Global Styles -->
    <div th:replace="~{fragments/client/components/_styles}"></div>

    <!-- Include Styles Specific to the Current View -->
    <th:block th:replace="~{${view} :: viewStyles} ?: _"></th:block>
  </head>

  <body>
    <!-- Include Header Section -->
    <div th:replace="~{fragments/client/components/_header}"></div>

    <!-- Main Content Area -->
    <th:block th:replace="~{${view}::content}"></th:block>

    <div
      class="fixed-action-btn"
      th:if="${session.isAdmin}"
      data-mdb-ripple-init
      data-mdb-popover-init
      data-mdb-placement="left"
      data-mdb-trigger="hover"
      data-mdb-content="Go to Dashboard"
    >
      <a
        class="btn btn-floating text-white btn-lg"
        data-mdb-ripple-init
        style="background-color: #f5a623"
        href="/dashboard"
        target="_blank"
      >
        <i class="fas fa-tachometer-alt fa-fw"></i>
      </a>
    </div>

    <!-- Include Footer Section -->
    <div th:replace="~{fragments/client/components/_footer}"></div>

    <!-- Include Global Scripts -->
    <div th:replace="~{fragments/client/components/_scripts}"></div>

    <!-- Include Scripts Specific to the Current View -->
    <th:block th:replace="~{${view} :: viewScripts} ?: _"></th:block>
  </body>
</html>
