<h4 class="fw-bold">Product name</h4>
<hr class="hr hr-blurry" />
<h5 class="fw-bold">
  <span class="text-danger">Price: </span>
  <span class="text-info"> 123,456 <i class="fa-solid fa-dong-sign"></i> </span>
</h5>

<button
  type="button"
  class="btn btn-outline-primary btn-rounded"
  data-mdb-ripple-init
  data-mdb-ripple-color="dark"
>
  Add to cart
</button>
<button
  type="button"
  class="btn btn-outline-primary btn-rounded"
  data-mdb-ripple-init
  data-mdb-ripple-color="dark"
>
  Buy now
</button>

<div class="card border border-info shadow-0 mb-3 mt-3">
  <div class="card-body text-info">
    <ul class="list-unstyled">
      <li>
        <i class="fa-solid fa-circle-check fa-lg me-1"></i>
        100% genuine products
      </li>
      <li>
        <i class="fa-solid fa-user-shield fa-lg me-1"></i>
        Dedicated shopping consultation. Hotline: (+84) 123 456 789 (Vietnam)
      </li>
      <li>
        <i class="fa-solid fa-truck fa-lg me-1"></i>
        Free shipping for orders over 499,000 VND
      </li>
    </ul>
  </div>
</div>
