<div th:fragment="content" class="container">
  <!-- Begin Breadcrumb -->
  <div
    th:replace="~{client/fragments/components/_breadcrumb :: breadcrumb(item='Legal')}"
  ></div>
  <!-- End Breadcrumb -->

  <div class="row">
    <div class="col-12 col-md-3">
      <!-- Begin navs -->
      <div th:replace="~{client/pages/static/legal/components/_nav.html}"></div>
      <!-- End navs -->
    </div>

    <div class="col-12 col-md-9">
      <section>
        <h3 class="fw-bold mb-5">Return and Exchange Policy</h3>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3">
              This privacy policy is designed to help you understand how our
              website collects and uses your personal information through your
              use of the site, including any information you may provide when
              you register an account, subscribe to our communications, or
              purchase products and services.
            </p>
            <p class="mb-3">
              We use your personal information to communicate with you as
              necessary regarding your use of our website, to respond to
              inquiries, or to send documents and information you request.
            </p>
            <p class="mb-3">
              Our website places a high priority on information security and
              employs the best measures to protect customer information and
              payment details.
            </p>
            <p class="mb-3">
              All transaction information will be kept confidential, except in
              cases where required by law enforcement authorities.
            </p>
          </blockquote>
        </figure>
      </section>
    </div>
  </div>
</div>
