<div th:fragment="content" class="container">
  <!-- Begin Breadcrumb -->
  <div
    th:replace="~{fragments/client/components/_breadcrumb :: breadcrumb(item='Services')}"
  ></div>
  <!-- End Breadcrumb -->

  <div class="row">
    <div class="col-12 col-md-3">
      <!-- Begin navs -->
      <div th:replace="~{client/static/services/components/_nav.html}"></div>
      <!-- End navs -->
    </div>

    <div class="col-12 col-md-9">
      <section>
        <h3 class="fw-bold mb-5">Brand Distribution System</h3>
        <div class="row align-items-stretch">
          <div class="col-md-4 mb-4 d-flex">
            <img
              src="https://lh3.googleusercontent.com/Dc9plY00PtbCyw3ppibEgbQV5kFS4M9tWT0A_xdnD0tTAChrYYv4n6QakW50-rc8L2ZpYUTHLqyP5adj8z5d_0vlbzd6cMMF6xSx8nvNlLnevndipGHP-Mqsnp9uiMtlzxvk_V7gyNhA7sNWybHrO2KM7vZjWm_G0AK4HNo7FQzxliJvrr14r2NByUpTQA"
              alt="Viet Bag Manufacturing"
              class="img-fluid rounded shadow align-self-center"
            />
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <figure class="w-100">
              <blockquote class="blockquote mb-0">
                <p class="mb-3">
                  Starting a business is never easy without a reliable supplier
                  and dedicated support. KINGBAG is seeking national
                  distributors for backpacks and handbags to join us on the
                  journey to success. How can you benefit? Let’s find out!
                </p>
              </blockquote>
            </figure>
          </div>
        </div>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              1. Company Specializing in High-End Backpack and Handbag
              Production
            </p>
            <p class="mb-3">
              KINGBAG is a premium fashion backpack and handbag brand in
              Vietnam, offering products like laptop backpacks, travel bags,
              suitcases, and crossbody bags. We focus on stylish, youthful
              designs that align with contemporary office and travel fashion.
            </p>
            <p class="mb-3">
              We aim to provide young professionals in Vietnam with
              high-quality, trendy backpacks and handbags at reasonable prices.
              Therefore, KINGBAG is looking for wholesale DISTRIBUTORS across
              all provinces and cities nationwide.
            </p>
          </blockquote>
        </figure>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              2. Advantages of KINGBAG Backpacks and Handbags
            </p>
            <div class="row align-items-stretch">
              <div class="col-md-4 mb-4 d-flex">
                <img
                  src="https://lh4.googleusercontent.com/zAcZTUoz-W9AyUxEOwcVyc8mrPs4E955xyvoHdMjoF5oNjLzrNmEBBQfRdpFaLkjzEXMvqvtDlXDf8Zqt1f3BfcYDpeIPjYn_z80SxZpJK0D-CghJ1LbC3Aex4aMM8tgw2AkUxMH42OYrcB-rMwpkpfeQk79X2K1pxad9lwLrNPZy31mN1MSwVMarsSFew"
                  alt="Viet Bag Manufacturing"
                  class="img-fluid rounded shadow align-self-center"
                />
              </div>
              <div class="col-md-8">
                <p class="mb-3">
                  Backpacks and handbags are essential items for everyone, from
                  students to office workers and travel enthusiasts. Their
                  popularity stems from their ability to hold various items,
                  such as books, laptops, and clothing, while maintaining a
                  fashionable look.
                </p>
                <p class="mb-3">
                  Additionally, this business model has the advantage of a large
                  customer base, high demand, and a diverse range of products
                  without stringent service requirements.
                </p>
              </div>
            </div>
          </blockquote>
        </figure>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3 fw-bold">
              3. Why Partner with KINGBAG for Custom Backpack and Handbag
              Production?
            </p>
            <div class="row align-items-stretch">
              <div class="col-md-4 mb-4 d-flex">
                <img
                  src="https://lh4.googleusercontent.com/MMoMISNRngPE91Q_wSMLoc37QqVD6Zj4K_mz3U4P1u1juPaJ1_0bnxE_-2Bow9vv0-eRwejXMKEJLDNOvtBJhi_d1NLJrUm4zI2gzKTwh2cJe16RYdIvM_VMnavpBTbWRsv2OgNxC7OQOG3sBPC3ecTnCXhxMzUYXaLNvBYi-Qbqd1fizZ_gcjI1lezAfg"
                  alt="Viet Bag Manufacturing"
                  class="img-fluid rounded shadow align-self-center"
                />
              </div>
              <div class="col-md-8">
                <p class="mb-3">
                  Diverse Product Range: With our own design team and production
                  facility, we regularly introduce varied styles that keep up
                  with current trends.
                </p>

                <p class="mb-3">
                  Quality Products: Our items are well-made, reasonably priced,
                  and elegantly designed, easily complementing various fashion
                  styles for work, travel, picnics, or events.
                </p>

                <p class="mb-3">
                  Strong Marketing Support: Our experienced marketing team has
                  successfully developed the brand in the booming online sales
                  market.
                </p>

                <p class="mb-3">
                  Marketing and Communication Support: Distributors receive
                  assistance throughout their partnership.
                </p>

                <p class="mb-3">
                  Attractive Commission Rates: Enjoy highly competitive
                  discounts, significant revenue potential, and high-profit
                  margins.
                </p>

                <p class="mb-3">
                  Flexible Product Exchange Policy: We offer a flexible product
                  exchange policy for our distributors.
                </p>
              </div>
            </div>
          </blockquote>
        </figure>

        <figure class="w-100">
          <blockquote class="blockquote mb-0">
            <p class="mb-3">
              Finding a good supplier can determine 70% of your initial business
              success. With 15 years of experience in backpack and handbag
              manufacturing, KINGBAG is confident in supporting you on every
              journey.
            </p>
          </blockquote>
        </figure>
      </section>
    </div>
  </div>
</div>
