<nav
  data-mdb-sidenav-init
  id="sidenav"
  data-mdb-close-on-esc="false"
  class="sidenav"
  data-mdb-position="absolute"
  data-mdb-mode="side"
  data-mdb-content="#content"
  data-mdb-focus-trap="false"
  style="background-color: #f8f2ec"
>
  <a
    data-mdb-ripple-init
    class="d-flex justify-content-center py-4 mb-3"
    style="border-bottom: 2px solid #f5f5f5"
    href="#!"
    data-mdb-ripple-color="primary"
  >
    <img
      id="Pack-Shop-logo"
      src="/images/logos/logo.png"
      alt="Pack Shop Logo"
      style="width: 75%"
      draggable="false"
    />
  </a>
  <ul class="sidenav-menu px-2 pb-5">
    <li class="sidenav-item">
      <a class="sidenav-link" href="">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Overview</span></a
      >
    </li>
    <li class="sidenav-item pt-3">
      <span class="sidenav-subheading text-muted">Create</span>
      <a class="sidenav-link"
        ><i class="fas fa-grin fa-fw me-3"></i><span>Category 1</span></a
      >
      <ul class="sidenav-collapse">
        <li class="sidenav-item">
          <a class="sidenav-link">Link 2</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Link 3</a>
        </li>
      </ul>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link"
        ><i class="fas fa-grin-wink fa-fw me-3"></i><span>Category 2</span></a
      >
      <ul class="sidenav-collapse">
        <li class="sidenav-item">
          <a class="sidenav-link">Link 4</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Link 5</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
