<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="'Pack Shop - ' + ${title}"></title>
    <link rel="shortcut icon" href="#" />
    <!-- Begin Styles -->
    <div th:replace="~{client/fragments/components/_styles}"></div>
    <!-- End Styles -->

    <!-- Begin View-Specific Styles -->
    <th:block th:replace="~{${view} :: viewStyles} ?: _"></th:block>
    <!-- End View-Specific Styles -->
  </head>

  <body>
    <!-- Begin Header -->
    <div th:replace="~{client/fragments/components/_header}"></div>
    <!-- End Header -->

    <!-- Begin Content -->
    <th:block th:replace="~{${view}::content}"></th:block>
    <!-- End Content -->

    <!-- Begin Footer -->
    <div th:replace="~{client/fragments/components/_footer}"></div>
    <!-- End Footer -->

    <!-- Begin Scripts -->
    <div th:replace="~{client/fragments/components/_scripts}"></div>
    <!-- End Scripts -->

    <!-- Begin View-Specific Scripts -->
    <th:block th:replace="~{${view} :: viewScripts} ?: _"></th:block>
    <!-- End View-Specific Scripts -->
  </body>
</html>
