<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title th:text="'Pack Shop - ' + ${title}"></title>
    <div th:replace="~{client/fragments/components/_styles}"></div>
  </head>

  <body>
    <header>
      <div th:replace="~{client/fragments/components/_header}"></div>
    </header>
    <main class="container">
      <th:block th:replace="~{${view}::content}"></th:block>
    </main>
    <div th:replace="~{client/fragments/components/_scripts}"></div>
  </body>
</html>
